<div class="profile-edit-form soft-shadow bg-rounded-box m-t-2">
  <div class="text-xs-center">
    <h3 class="card-title">Edit your profile</h3>
    
    <%= form_for(@user, url: { action: 'update' }) do |f| %>
      
      <div class="row">
      
        <div class="col-sm-6">
          <div class="field m-y-1">
            <%= f.label :avatar, 'Profile image:' %><br>
            <%= image_tag get_user_avatar_url_for(@user, :medium), class: 'avatar-frame m-y-1', width: '180px' %>
            <br>
            <%= f.file_field :avatar %>
          </div>
        </div>
        
        <div class="col-sm-6">
      
          <%= f.label 'Username:' %>
          <%= f.text_field :user_name, class: 'form-control', placeholder: @user.user_name, autocomplete: :off %>
          
          <%= f.label 'Bio:' %>
          <%= f.text_area :bio, class: 'form-control', placeholder: @user.bio, autocomplete: :off %>
          <br>
          <%= f.submit 'Save changes', class: 'btn btn-warning btn-block' %>
        
        </div>
      
      </div>
      
    <% end %>
    
  </div>
</div>