<div class="container m-y-2 text-xs-center">
  <%= image_tag get_user_avatar_url_for(@user, :medium), class: 'avatar-frame m-y-1', width: '120' %>
      
  <h4><%= @user.user_name %></h4>
  
  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_profile_path(@user.user_name), class: 'btn btn-warning-outline btn-sm' %>
  <% elsif !current_user.nil? %>
    <% if current_user.follows? @user %>
      <%= link_to 'Unfollow', delete_relationship_path(@user.user_name), method: :delete, class: 'btn btn-warning-outline btn-sm' %>
    <% else %>
      <%= link_to 'Follow', create_relationship_path(@user.user_name), method: :post, class: 'btn btn-warning-outline btn-sm' %>
    <% end %>
  <% end %>
  
  <%= content_tag :p, @user.bio, class: 'text-muted m-t-1' %>
  
  <p class="text-muted">
    <%= pluralize @user.followers.count, 'follower' %> | 
    <%= @user.following.count %> following<br>
    <%= pluralize @user.posts.count, 'post' %>
  </p>
</div>


<div class="row m-b-3">
  <div class="col-md-8 col-md-offset-2">
  
    <hr>
    
    <% if @user.posts.count == 0 %>
      <p class="text-xs-center text-muted">No quacks given yet :(</p>
    <% else %>
      <div id="posts">
        <%= render partial: 'posts/post', collection: @user.posts.order(:created_at).reverse_order %>
      </div>
    <% end %>
    
  </div>
</div>