<div id="comment_<%= comment.id %>">
    <%= image_tag get_user_avatar_url_for(post.user, :thumb), class: 'avatar-frame', height: '22#'%>
    <%= link_to comment.user.user_name, profile_path(comment.user.user_name) %>:
    <%= comment.body %>
    <% if comment.user == current_user %>
      <%= link_to fa_icon("remove"), post_comment_path(post, comment), confirm: 'Are you sure?', 
          method: :delete, remote: true, class: 'pull-xs-right' %>
    <% end %>
</div>