<li class="list-group-item">

  
  <div id="post_<%= post.id %>">
    <% if current_user == post.user %>
      <%= link_to fa_icon("remove"), post_path(post), method: :delete, data: { confirm: 'Deleting post. Are you sure?' }, 
          class: 'small pull-xs-right m-l-1 text-muted' %>
    <% end %>
    
    <p class="small text-muted pull-xs-right"><%= time_ago_in_words post.created_at %> ago</p>
    
    <h6 class="card-title">
      <%= image_tag get_user_avatar_url_for(post.user, :thumb), class: 'avatar-frame m-y-1', width: '40'%>
      <%= link_to "#{post.user.user_name}", profile_path(post.user.user_name) %>
    </h6>
    
    <p class="card-subtitle"><%= post.message %></p>
    
    <hr>

    <div id="comments" class="m-b-1">
    
      <% if post.comments.any? %>
        <% if post.comments.count > 3 %>
          <%= link_to "View all #{post.comments.count} comments", post_comments_path(post),
              remote: true, class: 'more-comments', data: {post_id: "#{post.id}", type: "html"} %>
        <% end %>
        
        <% post.comments.last(3).each do |comment| %>
          <%= render 'comments/comment', post: post, comment: comment %>
        <% end %>
        
      <% end %>
    </div>
    
    
    <%= render 'comments/form', post: post, comment: Comment.new %>
    
  </div>
  
</li>