<div class="card m-b-2">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div>
        <%= link_to "@#{post.user.user_name}", user_path(post.user) %>
        <p class="text-muted small pull-xs-right"><%= time_ago_in_words post.created_at %> ago</p>
      </div>
      <div>
        <%= post.message %>
      </div>
    </li>
    <li class="list-group-item">
      <%= link_to 'Likes', '#' %>
      <%= link_to 'Comments', post_comments_path(post) %>
      <div class="pull-xs-right">
      <!-- <% if current_user == post.user %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %> -->
      </div>
  </ul>
</div>