<div id="post_<%= post.id %>" class="card m-b-2">
  <div class="card-block">
      <% if current_user == post.user %>
        <%= link_to fa_icon("remove", text: 'Delete post'), post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, 
            class: 'small pull-xs-right m-l-1' %>
      <% end %>
      <h5 class="card-title">
        <img src="/img/placeholder.png" class="img-circle" width="40x">
        <%= link_to "#{post.user.user_name}", profile_path(post.user.user_name) %>
      </h5>
      <p class="small text-muted"><%= time_ago_in_words post.created_at %> ago</p>
      <h5>
        <%= post.message %>
      </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li id="comments" class="list-group-item">
      <% if post.comments.count > 3 %>
        <%= link_to "View all #{post.comments.count} comments", post_comments_path(post),
            remote: true, class: 'more-comments', data: {post_id: "#{post.id}", type: "html"} %>
      <% end %>
      <% if post.comments.any? %>
        <% post.comments.last(3).each do |comment| %>
          <%= render 'comments/comment', post: post, comment: comment %>
        <% end %>
      <% end %>
    </li>
  </ul>
  <div class="card-footer">
    <%= render 'comments/form', post: post, comment: Comment.new %>
  </div>
</div>