<br>

<% flash.each do |type, message| %>
  <div class="alert alert-warning fade in" role="alert">
    <button class="close" data-dismiss="alert">×</button>
    <%= notice %>
  </div>
<% end %>

<%= form_for(Post.new, remote: true) do |f| %>
  <%= f.text_field :message, class: 'form-control', placeholder: 'What\'s quacking?',
      autocomplete: :off, autofocus: true %>
<% end %>

<hr class="m-y-2">

<div id="posts">
  <%= render 'posts', posts: @posts %>
</div>

<div id="paginator">
    <%= link_to_next_page @posts, 'LOAD MORE', remote: true, id: 'load_more', class: 'paginator-circle text-xs-center' %>
</div>
