<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path %>

<%= form_for(Post.new) do |f| %>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render partial: 'post', collection: @posts.order(:created_at).reverse_order %>

