<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<div>
  <h4>Comments:</h4> 
  <div id="comments">
    <% if @post.comments %>
      <% @post.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment%>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<% if current_user == @post.user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
