<!DOCTYPE html>
<html>
<head>
  <title>Quack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse bg-faded navbar-full">
    <div class="container">
      <%= link_to 'Quack!', root_path, id: 'brand-title', class: 'navbar-brand' %>
      <ul class="nav navbar-nav pull-xs-right">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Me', profile_path(current_user.user_name), class: 'nav-link' %>          
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link text-muted' %>          
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>          
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>          
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  
  <%= render partial: 'common/flash_messages', flash: flash %>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
