<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Quack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-full p-y-1 extra-soft-shadow">
    <div class="container">
      <%= link_to 'Quakkr!', root_path, id: 'brand-title', class: 'navbar-brand ' %>
      <ul class="nav navbar-nav pull-xs-right">
        <%= render 'common/navbar_links' %>
      </ul>
    </div>
  </nav>
  
  <%= render partial: 'common/flash_messages', flash: flash %>
  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
